:root {
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --ligth-color: #e8f7fb;
    --ligth-blue-color: #6f7dfd;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
